 <!DOCTYPE html>
 <html lang="en">

 <head>
 	<title>Rango</title>
 	<meta charset="utf-8" />
 	{% load staticfiles %}
  	<!-- <link rel="shortcut icon" href="{% static 'info/img/textcube.png' %}"> -->
 	<meta name="viewport" content = "width=device-width, initial-scale=1">

 	<!-- General Style Sheets -->
<!--  	<link rel="stylesheet" href="{% static 'accounts/css/bootstrap.min.css' %}"/>
 	<link rel="stylesheet" href="{% static 'accounts/css/eribecus.css' %}"/> -->

 	<!-- JS for collapsible navbar -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>

 <body>

{% block content %}
{% endblock %}


 </body>

 </html>
 
